<div class="">
  <%= erb :'_errors' %>
</div>

<div class="container">
  <form class="" action="/sessions" method="post">

    <div class="row">
      <div class="input-field col s6">
        <div class="input-field col s12">
          <input type="text" name="email" id="" placeholder="Enter email address">
          <label class="active" for="email">Email:</label>
        </div>
        <div class="input-field col s12">
          <input type="password" name="password" id="" placeholder="Enter password">
          <label class="active" for="password">Password:</label>
        </div>
      </div>
    </div>

    <div>
      <input class="waves-effect waves-teal btn-flat white-text" type="submit" name="" id="" value="Login">
    </div>

  </form>
</div>
